{{ include('admin/messages.html.twig') }}

<form  class="modal-form" method="post">

    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs pull-right">
            <li class="active"><a href="#tab_1-1" data-toggle="tab"> Hakkımızda   </a></li> &nbsp;&nbsp; &nbsp; &nbsp; &nbsp;
            <li><a href="#tab_2-2" data-toggle="tab">Şirket Bilgileri</a></li> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            <li><a href="#tab_3-2" data-toggle="tab">İletişim </a></li>  &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;<br> <br>

        </ul>
        <div class="tab-content">
            <div class="tab-pane active " id="tab_1-1">
                <b>Hakkımızda</b>

                <div class="form-group row">

                    <div class="col-sm-5">
                        <textarea id="description" name="setting[description]" rows="10" cols="80"> {{ setting.description}} </textarea>
                    </div>
                </div>





            </div>

            <div class="tab-pane " id="tab_2-2">
                <b>Şirket Bilgileri</b>

                <div class="form-group row">
                    <label  class="col-sm-3 col-form-label"> Şirket Adı</label>
                    <div class="col-sm-5">
                        <input type="text" name="setting[company]" value="{{ setting.company}}" class="form-control"  placeholder="Açıklama">
                    </div>
                </div>
                <div class="form-group row">
                    <label  class="col-sm-3 col-form-label">Adres</label>
                    <div class="col-sm-5">
                        <input type="text" name="setting[address]" value="{{ setting.address}}" class="form-control"  placeholder="Açıklama">
                    </div>
                </div>

                <div class="form-group row">
                    <label  class="col-sm-3 col-form-label">Fax</label>
                    <div class="col-sm-5">
                        <input type="text" name="setting[fax]" value="{{ setting.fax}}" class="form-control"  placeholder="Açıklama">
                    </div>
                </div>
                <div class="form-group row">
                    <label  class="col-sm-3 col-form-label">SMTPServer</label>
                    <div class="col-sm-5">
                        <input type="text" name="setting[smtpserver]" value="{{ setting.smtpserver}}" class="form-control"  placeholder="Açıklama">
                    </div>
                </div>
                <div class="form-group row">
                    <label  class="col-sm-3 col-form-label">Anahtar Kelime</label>
                    <div class="col-sm-5">
                        <input type="text" name="setting[keywords]" value="{{ setting.keywords}}" class="form-control"  placeholder="Anahtar kelime">
                    </div>
                </div>

            </div>

            <div class="tab-pane " id="tab_3-2">
                <b>İletişim</b>

                <div class="form-group row">
                    <label  class="col-sm-3 col-form-label">Email</label>
                    <div class="col-sm-5">
                        <input type="text" name="setting[email]" value="{{ setting.email}}" class="form-control"  placeholder="Açıklama">
                    </div>
                </div>
                <div class="form-group row">
                    <label  class="col-sm-3 col-form-label">Telefon</label>
                    <div class="col-sm-5">
                        <input type="text" name="setting[phone]" value="{{ setting.phone}}" class="form-control"  placeholder="Açıklama">
                    </div>
                </div>

            </div>


        </div>

                <div class="box-footer">
                    <input type="submit" value="KAYDET" class="btn btn-info pull-right">


        </div>
    </div>

    <br>

</form>

<script>
    ClassicEditor
        .create( document.querySelector( '#description' ) )
        .catch( error => {
            console.error( error );
        } );
</script>

