{% extends 'frontbase.html.twig' %}

{% block title  %}İletişim{{ data[0].title }}  {% endblock %}
{% block keywords %} {{ data[0].keywords }}  {% endblock %}
{% block description %} {{ data[0].description }}  {% endblock %}
{% block content %}



    <div id="mainBody">
        <div class="container">
            <hr class="soften">

            <hr class="soften">
            <div class="row">

                <div class="span4">
                    <h4>Bize Ulaşın</h4>
                    {{ include('messages.html.twig') }}
                    <form class="form-horizontal" name="messages" action="" method="post">
                        <fieldset>
                            <div class="control-group">

                                <input type="text" name="messages[name]" placeholder="name" class="input-xlarge">

                            </div>
                            <div class="control-group">

                                <input type="email" name="messages[email]" placeholder="email" class="input-xlarge">

                            </div>
                            <div class="control-group">

                                <input type="text" name="messages[subject]" placeholder="subject" class="input-xlarge">

                            </div>
                            <div class="control-group">
                                <textarea rows="3"  name="messages[message]" id="textarea" class="input-xlarge"></textarea>

                            </div>

                            <input type="hidden" name="token" value="{{ csrf_token('form-message') }}" />

                            <button class="btn btn-large" type="submit">Send Messages</button>

                        </fieldset>
                    </form>
                </div>
            </div>

        </div>
    </div>

{% endblock %}