{% extends 'frontbase.html.twig' %}

{% block title  %} Shopcart {% endblock %}
{% block sidebar %} {{  include ('home/_usersidebar.html.twig') }} {% endblock %}
{% block content %}


        <ul class="breadcrumb">
            <li><a href="{{ path('home') }}">Home</a> <span class="divider">/</span></li>
            <li><a href="#"> Shopcart Items</a> <span class="divider">/</span></li>
            <li class="active">Preview</li>
        </ul>
        <div class="well well-small">

            <div class="row-fluid">

        <div class="span5">
            <h2>Shopcart Items</h2>
            {{  include ('messages.html.twig') }}

            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Product Name</th>
                    <th>Sale Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% set total=0 %}
                {% for shopcart in shopcarts %}
                    <tr>
                        <td>{{ shopcart.id }}</td>
                        <td>{{ shopcart.title }}</td>
                        <td>{{ shopcart.sales }}</td>
                        <td>{{ shopcart.quantity }}</td>
                        <td>{{ shopcart.quantity * shopcart.sales  }}</td>
                        <td>
                        <td><a href="{{ path('shopcart_del',{'id' :shopcart.id}) }}" onclick="return confirm('Silinecek emin misin?'); " class ="btn btn-block btn-danger btn-xs"> Del </a> </td>
                        </td>
                    </tr>
                    {% set total=total +(shopcart.quantity * shopcart.sales) %}
                {% else %}
                    <tr>
                        <td colspan="5">Shopcart is Empty</td>
                    </tr>
                {% endfor %}

                <tr>
                    <td colspan="5"> <b> Toplam Alışveriş Tutarı :{{ total }} TL </b> <br>
                    </td>
                </tr>

                </tbody>
            </table>
            <a href="{{ path('orders_new') }}" class="btn btn-block btn-success btn-large">Ürünleri Satın Al</a>

        </div>
    </div>
        </div>



{% endblock %}
