{{ include('messages.html.twig') }}

<form class="form-horizontal" name="order" action="{{ path('orders_new') }}" method="post">
    <fieldset>
        <label class="col-sm-2 control-label">Ödenecek Tutar</label>
        <div class="control-group" col-sm-5>
            <input type="text" name="orders[amount]" value="{{ total }}" placeholder="name" class="input-xlarge"/>
        </div>
        <hr>
        KARGO ALICI BİLGİLERİ
        <hr>
        <label class="col-sm-2 control-label">Adı Soyadı :</label>
        <div class="control-group" col-sm-5>
            <input type="text" name="orders[name]" value="{{ app.user.name }}" placeholder="name" class="input-xlarge"/>
        </div>

        <label class="col-sm-2 control-label">Adresi: </label>
        <div class="control-group" col-sm-5>
            <input type="text" name="orders[address]" value="{{ app.user.address }}" placeholder="Adresi" class="input-xlarge"/>
        </div>
        <label class="col-sm-2 control-label">Şehir :</label>
        <div class="control-group" col-sm-5>
            <input type="text" name="orders[city]" value="{{ app.user.city }}" placeholder="subject" class="input-xlarge"/>
        </div>
        <label class="col-sm-2 control-label">Telefon :</label>
        <div class="control-group" col-sm-5>
            <input type="text" name="orders[phone]" value="{{ app.user.phone }}" placeholder="subject" class="input-xlarge"/>
        </div>
        <hr>
        KREDİ KARTI BİLGİLERİ
        <hr>
        <label class="col-sm-2 control-label">Adı Soyadı :</label>
        <div class="control-group" col-sm-5>
            <input type="text" name="cardholdername" placeholder="Kart Adı Soyadı" class="input-xlarge"/>
        </div>
        <label class="col-sm-2 control-label">Kart Numarası: </label>
        <div class="control-group" col-sm-5>
            <input type="text" name="cardnumber"  placeholder="Kart Numarası" class="input-xlarge"/>
        </div>
        <label class="col-sm-2 control-label">Son Kullanma Tarihi :</label>
        <div class="control-group" col-sm-5>
            <input type="text" name="cardvalidates" placeholder="AY/YIL" class="input-xlarge"/>
        </div>
        <label class="col-sm-2 control-label">Güvenlik Kodu :</label>
        <div class="control-group" col-sm-5>
            <input type="text" name="cardsecuritycode"  placeholder="Güvenlik kodu" class="input-xlarge"/>
        </div>

        <input type="hidden" name="token" value="{{ csrf_token('user-form') }}">
        <button type="submit" class="btn btn-primary m-t-15 waves-effect">KAYDET</button>



    </fieldset>
</form>