<!DOCTYPE html>
<html lang="tr">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %} Order Detail {% endblock %}</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{{ asset('Admin') }}/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="{{ asset('Admin') }}/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="{{ asset('Admin') }}/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="{{ asset('Admin') }}/vendors/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{{ asset('Admin') }}/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="{{ asset('Admin') }}/images/favicon.png" />

    <SCRIPT language ="JavaScript" type="text/javascript">
        function openWin( windowURL, windowName, windowFeatures) { window.open (windowURL, windowName ,windowFeatures); }
    </SCRIPT>

    <script src="https://cdn.ckeditor.com/ckeditor5/11.2.0/classic/ckeditor.js"></script>

</head>
<body class="hold-transition skin-blue">
<section class="content">
    <div class="card">
        <div class="card-body">
        <h2>Sipariş Detayı</h2>
        {{ include ('messages.html.twig') }}

        <table class="table table-bordered">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ order.id }}</td>
            </tr>
            <tr>
                <th>Userid</th>
                <td>{{ order.userid }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ order.amount }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ order.name }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ order.address }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ order.city }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ order.phone }}</td>
            </tr>

            <form action="{{ path('admin_orders_update',{'id': order.id}) }}" method="post">
                <tr>
                    <th>Shipinfo</th>
                    <td><textarea name="shipinfo" cols="100" rows="3" >{{ order.shipinfo }}</textarea></td>
                </tr>
                <tr>
                    <th>Admin Note</th>
                    <td><textarea name="shipinfo" cols="100" rows="3" >{{ order.note }}</textarea></td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td><select name="status" >
                            <option>{{ order.status }}</option>
                            <option>Accepted</option>
                            <option>InShipping</option>
                            <option>Canceled</option>
                            <option>Accepted</option>
                        </select>

                        <input type="submit" value="Güncelle">
                    </td>
                </tr>
            </form>


            </tbody>
        </table>

        <table class="table">
            <thead>
            <tr>

                <th>Id</th>
                <th>Product Name</th>
                <th>Sale Price</th>
                <th>Quantity</th>
                <th>Total</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% set total=0 %}
            {% for rs in orderdetail %}
                <tr>
                    <td>{{ rs.id }}</td>
                    <td>{{ rs.name }}</td>
                    <td>{{ rs.price }} TL</td>
                    <td>{{ rs.quantity }}</td>
                    <td>{{ rs.amount }}</td>
                    <td>{{ rs.status }}</td>


                </tr>
            {% else %}
                <tr>
                    <td colspan="13">Order Detail</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="5"> <b>Toplam Alışveriş Tutarı  : {{ order.amount  }} TL </b></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</section>
</body>
</html>



