{% extends 'frontbase.html.twig' %}

{% block title %}Orders List{% endblock %}
{% block sidebar %} {{ include ('home/_usersidebar.html.twig') }} {% endblock %}

{% block content %}

<ul class="breadcrumb">
    <li><a href="{{ path('home') }}">Home</a> <span class="divider">/</span></li>
    <li><a href="#"> Order List</a> <span class="divider">/</span></li>
    <li class="active">Preview</li>
</ul>
<div class="well well-small">

    <div class="row-fluid">

        {{ include ('messages.html.twig') }}

        <h5>Order List</h5>

    <table class="table">
        <thead>
            <tr>


                <th>Name</th>
                <th>Amount</th>
                <th>City</th>
                <th>Phone</th>
                <th>Shipinfo</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>

                <td>{{ order.name }}</td>
                <td>{{ order.amount }} TL</td>
                <td>{{ order.city }}</td>
                <td>{{ order.phone }}</td>
                <td>{{ order.shipinfo }}</td>
                <td>{{ order.status }}</td>
                <td> <a href="{{ path('orders_show', {'id': order.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    </div>
</div>
{% endblock %}
